<!DOCTYPE html>
<html ng-app="myAppModule">
    <head>
        <title>60 שעות</title>
        <meta charset="utf-8">
        <link href="css/Resources/bootstrap.min.css" rel="stylesheet">
        <link href="css/Resources/bootstrap.rtl.min.css" rel="stylesheet">
<!--        <link href="css/Resources/bootstrap-theme.min.css" rel="stylesheet">-->
        <link href="css/main.css" rel="stylesheet">
    </head>
    <body ng-controller="OrgController">
        
        <div>
            <h1>ההתנדבויות שלך</h1>
            <br>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="örg in organizations" ng-click="details(org)">org.name</li>
            </ul>
        </div>
        
        <script src="js/Resources/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="js/login.js" type="text/javascript"></script>
        <script src="js/Resources/angular.min.js" type="text/javascript"></script>
        <script src="js/Resources/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/main.js" type="text/javascript"></script>
        <script src="js/Controllers/LoginController.js" type="text/javascript"></script>
    </body>
</html>