<div class="block-form container">
    <div class="text-right">
        <div class="row">
            <div class="col-md-1">
                <img ng-src="../../images/users/{{user.username}}.png" width="100px">
            </div>
            <div class="col-md-10 marginBtn">
                <h1>ברוך הבא {{user.fullname}}</h1>
            </div>
        </div>
    </div>
    <p>
        <span class="col-md-6">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#details" aria-expanded="false" aria-controls="details">הפרטים שלי</button>
        </span>
        <span>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#test" aria-expanded="false" aria-controls="test">מעקב</button>
        </span>
    </p>

    <div class="row">
        <div class="col-md-6">
            <div class="collapse" id="details">
                <div class="card card-body text-right">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">עיר מגורים: </p>{{user.city}}
                        </div>
                        <div class="col-md-6">
                            <p class="lead">כתובת: </p>{{user.address}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">מוסד חינוכי: </p>{{user.school}}
                        </div>
                        <div class="col-md-6">
                            <p class="lead">כיתה: </p>{{user.sch_class}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">מספר טלפון: {{user.cellphone}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-if="user.role != null">
                            <p class="lead">תפקיד: </p>{{user.role.displayName}}
                        </div>
                        <div class="col-md-6" ng-if="user.organization != null">
                            <p class="lead">עמותה: </p>{{user.organization.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="collapse" id="test">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-12 p-lg-5 mx-auto my-5">
            
            <div class="c100 p{{hoursPercent}} big">
                <span>{{hoursPercent}}%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <h1 class="display-4 font-weight-normal">מדד התנדבות:</h1>
            <p class="lead font-weight-normal">
                התנדבת {{user.curr_hours}}/{{user.req_hours}} שעות
                <br>
                מצא עוד מקומות בהם אפשר להתנדב במפה
            </p>
            <a href="#Map"><button class="btn btn-info">לך למפה!</button></a>
        </div>
    </div>
</div>